In [44]:
import pandas,io,pydot,os
import pandas as pd
from sklearn import tree
os.getcwd()
t_train = pd.read_csv('C:\\Users\\Santosh\\Downloads\\train.csv')
t_train.info()  # info gives column details and whether it contains nullable or non nullable values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [11]:
t_train.shape # shape gives rows and column details

(891, 12)

In [12]:
t_train.describe() # describe gives min max mean count... etc.

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [21]:
x_t1 = t_train[['Pclass','SibSp','Parch']]
y_t1 = t_train['Survived']
dt = tree.DecisionTreeClassifier() # here we have not given any criterion, so it has taken gini as criterion by default.
dt.fit(x_t1,y_t1) #fit model gives the best possble tree

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [25]:
t_test = pd.read_csv("C:\\Users\\Santosh\\Downloads\\test.csv")
X_test = t_test[['Pclass', 'SibSp', 'Parch']]
#Use .predict method on Test data using the model which we built

t_test['Survived'] = dt.predict(X_test)  
os.getcwd() #To get current working directory
t_test.to_csv("submission_Index_False.csv", columns=['PassengerId','Survived'] , index = False)

In [30]:
x_t2 = t_train[['Pclass','SibSp','Parch']]
y_t2 = t_train['Survived']
dt = tree.DecisionTreeClassifier(criterion='entropy') # here we have given entropy as criterion
dt.fit(x_t1,y_t1)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [45]:
#Apply one hot encoding
t_train = pd.get_dummies(t_train, columns=['Pclass', 'Sex', 'Embarked'])
t_train.shape
t_train.info()
x_t2 = t_train.drop(['PassengerId','Age','Cabin','Ticket', 'Name','Survived'], 1)
y_t2 = t_train['Survived']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 17 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Name           891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Pclass_1       891 non-null uint8
Pclass_2       891 non-null uint8
Pclass_3       891 non-null uint8
Sex_female     891 non-null uint8
Sex_male       891 non-null uint8
Embarked_C     891 non-null uint8
Embarked_Q     891 non-null uint8
Embarked_S     891 non-null uint8
dtypes: float64(2), int64(4), object(3), uint8(8)
memory usage: 69.7+ KB

In [58]:
#Section 1A
from sklearn import model_selection
dt1 = tree.DecisionTreeClassifier()
dt1.fit(x_t2,y_t2)
#Apply K-fold technicque and find out the Cross Validation(CV) score.
cv_scores1 = model_selection.cross_val_score(dt1, x_t2, y_t2, cv=10)
print(cv_scores1) #Return type is a [List] of score
print(cv_scores1.mean()) #Find out the mean of CV scores

[0.77777778 0.72222222 0.75280899 0.84269663 0.85393258 0.79775281
 0.82022472 0.84269663 0.84269663 0.82954545]
0.80823544433095

In [59]:
print(dt1.score(x_t2,y_t2))

0.9248035914702581

In [64]:
#Section 2A
#tune model manually by passing differnt values for decision tree arguments
dt2 = tree.DecisionTreeClassifier(max_depth=4) #Here we passed max-depth as argument to the tree
dt2.fit(x_t2,y_t2)
cv_scores2 = model_selection.cross_val_score(dt2, x_t2, y_t2, cv=10)
print(cv_scores2) #Return type is a [List] of scores
print(cv_scores2.mean())

[0.71111111 0.74444444 0.75280899 0.83146067 0.83146067 0.79775281
 0.82022472 0.75280899 0.83146067 0.77272727]
0.7846260356372715

In [65]:
print(dt2.score(x_t2,y_t2))

0.8181818181818182

In [93]:
#Automate model tuning process. Use Grid search method
dt3 = tree.DecisionTreeClassifier()
param_grid = {'max_depth':[5], 'min_samples_split':[2,4], 'criterion':['gini','entropy']} 
print(param_grid)
#max_depth means: Max deapth of the tree to child nodes
#min_samples_split means: If you notice the tree nodes, there is some thing called sample in each node. This is what it is referring to min sample split
dt3_grid = model_selection.GridSearchCV(dt3, param_grid, cv=3, n_jobs=-1)
dt3_grid.fit(x_t2, y_t2)
#print(dt3_grid.grid_scores_) #You may get DeprecationWarning
print(dt3_grid.cv_results_) #New version
#final_model = dt3_grid.best_estimator_ #This is the estimator of max_deapth and min_sample_split combination
#print(dt3_grid.best_score_)
#.score gives the score on full train data
#print(dt3_grid.score(x_t2, y_t2))

{'max_depth': [5], 'min_samples_split': [2, 4], 'criterion': ['gini', 'entropy']}
{'mean_fit_time': array([0.        , 0.        , 0.01038806, 0.        ]), 'std_fit_time': array([0.        , 0.        , 0.00734547, 0.        ]), 'mean_score_time': array([0.00521954, 0.        , 0.        , 0.        ]), 'std_score_time': array([0.00738154, 0.        , 0.        , 0.        ]), 'param_criterion': masked_array(data=['gini', 'gini', 'entropy', 'entropy'],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_depth': masked_array(data=[5, 5, 5, 5],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_samples_split': masked_array(data=[2, 4, 2, 4],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'criterion': 'gini', 'max_depth': 5, 'min_samples_split': 2}, {'criterion': 'gini', 'max_depth': 5, 'min_samples_split': 4}, {'criterion': 'entropy', 'max_depth': 5, 'min_samples_split': 2}, {'criterion': 'entropy', 'max_depth': 5, 'min_samples_split': 4}], 'split0_test_score': array([0.77441077, 0.77441077, 0.78114478, 0.78114478]), 'split1_test_score': array([0.7979798 , 0.7979798 , 0.81144781, 0.81144781]), 'split2_test_score': array([0.78451178, 0.78451178, 0.78114478, 0.78114478]), 'mean_test_score': array([0.78563412, 0.78563412, 0.79124579, 0.79124579]), 'std_test_score': array([0.00965469, 0.00965469, 0.01428499, 0.01428499]), 'rank_test_score': array([3, 3, 1, 1]), 'split0_train_score': array([0.85521886, 0.85521886, 0.85521886, 0.85521886]), 'split1_train_score': array([0.83333333, 0.83333333, 0.82996633, 0.82996633]), 'split2_train_score': array([0.83838384, 0.83838384, 0.83501684, 0.83501684]), 'mean_train_score': array([0.84231201, 0.84231201, 0.84006734, 0.84006734]), 'std_train_score': array([0.00935653, 0.00935653, 0.01091034, 0.01091034])}